@using VollyV3.Areas.Identity

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="organizationAdministatorMenu"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
        Administrator Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="organizationAdministatorMenu">
        <a class="dropdown-item"
           asp-area=""
           asp-controller="Organization"
           asp-action="Index">Configure My Organization</a>
        @if (User.IsInRole(Enum.GetName(typeof(Role), Role.IsConfigured)))
        {
            <a class="dropdown-item"
               asp-area=""
               asp-controller="OrganizationOpportunities"
               asp-action="Index">Manage Opportunities</a>
            <a class="dropdown-item"
               asp-area=""
               asp-controller="Applications"
               asp-action="Index">Manage Applications</a>
        }

    </div>
</li>