<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="platformAdministatorMenu"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
        Platform Menu
    </a>
    <div class="dropdown-menu" aria-labelledby="platformAdministatorMenu">
        <a class="dropdown-item"
           asp-area=""
           asp-controller="User"
           asp-action="Index">Manage Users</a>
        <a class="dropdown-item"
           asp-area=""
           asp-controller="Organization"
           asp-action="Index">Manage Organizations</a>
    </div>
</li>