@{
    ViewData["Title"] = "Setup";
}

<div class="padded bg-default-dark">
    <p>
        Your account has been created! We must approve all accounts to make sure your organization falls within our community guidelines.
        You can make a posting now which will be published once your account is approved.
    </p>
    <br />
    <p>
        <b>Logout and log back in to begin adding opportunities.</b>
    </p>
</div>