@model VollyV3.Models.ViewModels.PlatformAdministrator.Opportunities.OpportunityEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<div class="padded bg-default-dark">
    <h2>Edit</h2>

    <h4>Opportunity</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrganizationName" class="col-form-label"></label>
                    <input disabled="disabled"
                           type="text"
                           class="form-control"
                           value="@Model.OrganizationName" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactEmail" class="col-form-label"></label>
                    <input asp-for="ContactEmail" class="form-control" />
                    <span asp-validation-for="ContactEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-form-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="col-form-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="col-form-label"></label>
                    <select asp-for="CategoryId" class="form-control"
                            asp-items="@Model?.Categories">
                        <option value="">Select a category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OpportunityType" class="col-form-label"></label> (Cannot be updated)
                    <input type="text"
                           disabled="disabled"
                           class="form-control"
                           value="@Model.OpportunityType" />
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="col-form-label"></label>
                    <p>
                        Do not use your logo. Choose a photo that showcases the type of work you want them to do or your client population. Example “someone cleaning or someone behind the computer”.
                    </p>
                    <input asp-for="ImageFile" class="form-control" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </form>
        </div>
        <br />
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.ImageUrl" />
        </div>
    </div>
    <br />
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
