@model IEnumerable<VollyV3.Data.VolunteerHours>
@{
    ViewData["Title"] = "Edit your hours";
    Layout = "_Layout";
}

    <div class="bg-default-dark padded">
        <div class="text-danger">
            @TempData["Messages"]
        </div>
        <div class="text-right">
            <a class="btn btn-outline-primary"
               asp-area="Identity"
               asp-page="/Account/Manage/Index">Back to your account</a>
        </div>
        <hr />
        <section>
            <a asp-action="Track"
               class="btn btn-success">Track hours</a>
        </section>
        <br />
        <section>
            <a asp-action="Edit"
               class="btn btn-success">Edit hours</a>
        </section>
        <br />
        <section>
            <a asp-action="Export"
               class="btn btn-success">Export hours</a>
        </section>
    </div>