@model VollyV3.Data.Opportunity
@{
    ViewData["Title"] = "Track additional volunteer hours";
    Layout = "_Layout";
}
<div class="padded bg-default-dark">
    <div class="text-danger">
        @TempData["Messages"]
    </div>
    <div class="page-separator"></div>
    <div class="page-content">
        <div class="page-text">
            
        </div>
    </div>
</div>
