@{
    ViewData["Title"] = "Track volunteer hours";
    Layout = "_Layout";
}
<div class="padded bg-default-dark">
    <section>
        <p>
            Coming soon.
        </p>
    </section>
</div>
