@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration confirmation";
}

<div class="bg-default-dark padded">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account.
    </p>
</div>
