@model VollyV3.Models.ViewModels.PlatformAdministrator.Users.PasswordResetConfirmViewModel
@{
    ViewData["Title"] = "Password reset url";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-default-dark padded">
    <div class="page-title">
        @ViewData["Title"]
    </div>
    <div class="page-separator"></div>
    <div class="page-content">
        <div class="page-text">
            Here is your password reset URL:
            <div style="word-break: break-all;">
                @Model.PasswordResetUrl
            </div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
